USE [master]
GO
/****** Object:  Database [1294_FurkanYasar]    Script Date: 12.05.2019 14:49:17 ******/
CREATE DATABASE [1294_FurkanYasar] ON  PRIMARY 
( NAME = N'1294_FurkanYasar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\1294_FurkanYasar.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'1294_FurkanYasar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\1294_FurkanYasar_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1294_FurkanYasar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1294_FurkanYasar]
GO
/****** Object:  Table [dbo].[tblGununSozu]    Script Date: 12.05.2019 14:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGununSozu](
	[SozID] [int] IDENTITY(1,1) NOT NULL,
	[GununSozu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblGunuSozu] PRIMARY KEY CLUSTERED 
(
	[SozID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKategoriler]    Script Date: 12.05.2019 14:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKategoriler](
	[Kategoriid] [int] IDENTITY(1,1) NOT NULL,
	[Kategori] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblKategoriler] PRIMARY KEY CLUSTERED 
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKisiler]    Script Date: 12.05.2019 14:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblKisiler](
	[Kisiid] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Parola] [varchar](50) NOT NULL,
	[Tarih] [date] NOT NULL CONSTRAINT [DF_tblKisiler_Tarih]  DEFAULT (getdate()),
 CONSTRAINT [PK_tblKisiler] PRIMARY KEY CLUSTERED 
(
	[Kisiid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblKonular]    Script Date: 12.05.2019 14:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKonular](
	[Konuid] [int] IDENTITY(1,1) NOT NULL,
	[KonuBaslik] [nvarchar](max) NOT NULL,
	[KonuIcerik] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NOT NULL CONSTRAINT [DF_tblKonular_Tarih]  DEFAULT (getdate()),
	[Kisiid] [int] NOT NULL,
	[Kategoriid] [int] NOT NULL,
	[GoruntulenmeSayisi] [int] NULL CONSTRAINT [DF_tblKonular_GoruntulenmeSayisi]  DEFAULT ((1)),
 CONSTRAINT [PK_tblKonular] PRIMARY KEY CLUSTERED 
(
	[Konuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblYorumlar]    Script Date: 12.05.2019 14:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblYorumlar](
	[Yorumid] [int] IDENTITY(1,1) NOT NULL,
	[Yorum] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NOT NULL CONSTRAINT [DF_tblYorumlar_Tarih]  DEFAULT (getdate()),
	[Kisiid] [int] NOT NULL,
	[Konuid] [int] NOT NULL,
 CONSTRAINT [PK_tblYorumlar] PRIMARY KEY CLUSTERED 
(
	[Yorumid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblGununSozu] ON 

INSERT [dbo].[tblGununSozu] ([SozID], [GununSozu]) VALUES (1, N'Acaba sırf dünya için mi yaratılmışsın ki, bütün vaktini ona sarf ediyorsun? - Risale-i Nur')
SET IDENTITY_INSERT [dbo].[tblGununSozu] OFF
SET IDENTITY_INSERT [dbo].[tblKategoriler] ON 

INSERT [dbo].[tblKategoriler] ([Kategoriid], [Kategori]) VALUES (1, N'Spor')
INSERT [dbo].[tblKategoriler] ([Kategoriid], [Kategori]) VALUES (2, N'Eğitim')
INSERT [dbo].[tblKategoriler] ([Kategoriid], [Kategori]) VALUES (3, N'Sağlık')
SET IDENTITY_INSERT [dbo].[tblKategoriler] OFF
SET IDENTITY_INSERT [dbo].[tblKisiler] ON 

INSERT [dbo].[tblKisiler] ([Kisiid], [KullaniciAdi], [Mail], [Parola], [Tarih]) VALUES (9, N'admin', N'furkanyasar19@outlook.com', N'11234', CAST(N'2019-05-12' AS Date))
INSERT [dbo].[tblKisiler] ([Kisiid], [KullaniciAdi], [Mail], [Parola], [Tarih]) VALUES (10, N'furkany', N'furkany@hotmail.com', N'1234', CAST(N'2019-05-12' AS Date))
INSERT [dbo].[tblKisiler] ([Kisiid], [KullaniciAdi], [Mail], [Parola], [Tarih]) VALUES (11, N'onelemir', N'onele@hotmail.com', N'yemek123', CAST(N'2019-05-12' AS Date))
SET IDENTITY_INSERT [dbo].[tblKisiler] OFF
SET IDENTITY_INSERT [dbo].[tblKonular] ON 

INSERT [dbo].[tblKonular] ([Konuid], [KonuBaslik], [KonuIcerik], [Tarih], [Kisiid], [Kategoriid], [GoruntulenmeSayisi]) VALUES (92, N'Hangi takımın küme düşmesine daha çok üzülürsünüz?', N'Yine bir futbol', CAST(N'2019-05-12 11:26:30.730' AS DateTime), 12, 1, 1)
INSERT [dbo].[tblKonular] ([Konuid], [KonuBaslik], [KonuIcerik], [Tarih], [Kisiid], [Kategoriid], [GoruntulenmeSayisi]) VALUES (93, N'Galatasaray’ın 2-1 geriden gelip de 3-2 ye çevirmesi hakkında düşünceleriniz neler?', N'Ayrıca bu iki golü Diagne bin atması da ayrı bir mesele
', CAST(N'2019-05-12 11:27:07.050' AS DateTime), 15, 1, 2)
INSERT [dbo].[tblKonular] ([Konuid], [KonuBaslik], [KonuIcerik], [Tarih], [Kisiid], [Kategoriid], [GoruntulenmeSayisi]) VALUES (94, N'Hangi mesleği asla yapmazsınız?
', N'Ben asla öğretmen olmam mesela
', CAST(N'2019-05-12 11:30:32.660' AS DateTime), 13, 2, 2)
SET IDENTITY_INSERT [dbo].[tblKonular] OFF
SET IDENTITY_INSERT [dbo].[tblYorumlar] ON 

INSERT [dbo].[tblYorumlar] ([Yorumid], [Yorum], [Tarih], [Kisiid], [Konuid]) VALUES (118, N'Fenerbahçe küme düşmez bunu kafaniza şokun Fenerbahçe haricinde de kim. duserse düşsün umrumda olmaz

', CAST(N'2019-05-12 11:27:41.673' AS DateTime), 11, 92)
INSERT [dbo].[tblYorumlar] ([Yorumid], [Yorum], [Tarih], [Kisiid], [Konuid]) VALUES (119, N'Fener düşerse en çok ona sevineceğim

', CAST(N'2019-05-12 11:27:55.160' AS DateTime), 13, 92)
INSERT [dbo].[tblYorumlar] ([Yorumid], [Yorum], [Tarih], [Kisiid], [Konuid]) VALUES (121, N'Galatasaray sonuna kadar hakketti ve kazandı. İlk yarıdaki fırsatları değerlendirsek maç farka gidecekti 
', CAST(N'2019-05-12 11:28:46.240' AS DateTime), 14, 93)
SET IDENTITY_INSERT [dbo].[tblYorumlar] OFF
ALTER TABLE [dbo].[tblKonular]  WITH CHECK ADD  CONSTRAINT [FK_tblKonular_tblKategoriler] FOREIGN KEY([Kategoriid])
REFERENCES [dbo].[tblKategoriler] ([Kategoriid])
GO
ALTER TABLE [dbo].[tblKonular] CHECK CONSTRAINT [FK_tblKonular_tblKategoriler]
GO
ALTER TABLE [dbo].[tblKonular]  WITH CHECK ADD  CONSTRAINT [FK_tblKonular_tblKisiler] FOREIGN KEY([Kisiid])
REFERENCES [dbo].[tblKisiler] ([Kisiid])
GO
ALTER TABLE [dbo].[tblKonular] CHECK CONSTRAINT [FK_tblKonular_tblKisiler]
GO
ALTER TABLE [dbo].[tblYorumlar]  WITH CHECK ADD  CONSTRAINT [FK_tblYorumlar_tblKisiler] FOREIGN KEY([Kisiid])
REFERENCES [dbo].[tblKisiler] ([Kisiid])
GO
ALTER TABLE [dbo].[tblYorumlar] CHECK CONSTRAINT [FK_tblYorumlar_tblKisiler]
GO
ALTER TABLE [dbo].[tblYorumlar]  WITH CHECK ADD  CONSTRAINT [FK_tblYorumlar_tblKonular] FOREIGN KEY([Konuid])
REFERENCES [dbo].[tblKonular] ([Konuid])
GO
ALTER TABLE [dbo].[tblYorumlar] CHECK CONSTRAINT [FK_tblYorumlar_tblKonular]
GO
USE [master]
GO
